# Virtual Environment
venv/
/venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# AdalFlow & HuggingFace Caches
.adalflow/
.cache/
cache_datasets/

# Environment variables
.env

# Outputs & Checkpoints
outputs/**/*
!outputs/**/
!outputs/**/.gitkeep

# IDE specific files
.idea/
.vscode/